.app {
    text-align: center;
    font-family: 'Arial', sans-serif; /* Altere 'Arial' para a fonte desejada */
    color: #3498db; /* Altere para a cor desejada */
    height: 100vh;
}

.app-title {
    font-size: 3em;
    font-style: italic;
    margin-bottom: 20px;
}

.message {
    font-size: 1.5em;
    font-style: italic;
    color: #2ecc71; /* Altere para a cor desejada */
}

.ad-block {
    margin: 20px 0;
  }
  
  .ad-block img {
    width: 100%; /* Garante que a imagem do anúncio ocupa toda a largura do contêiner */
  }


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
